// Mixins and variables
@import "../node_modules/sass-mq/mq";
@import "./tokens";

$color-background: white;

// Used templated modules
@import "./modules/custom/Steps/index.scss";
@import "./modules/custom/MonthsSwarm/index.scss";
// Generic/Helper templated modules
@import "./modules/templated/Caption/index.scss";
@import "./modules/templated/Emoji/index.scss";
@import "./modules/templated/Paragraph/index.scss";

@import "./modules/templated/Ad/index.scss";
@import "./modules/templated/Audio/index.scss";
@import "./modules/templated/Caption/index.scss";
@import "./modules/templated/Combo/index.scss";
@import "./modules/templated/Conversation/index.scss";
@import "./modules/templated/Credits/index.scss";
@import "./modules/templated/Emoji/index.scss";
@import "./modules/templated/Endmark/index.scss";
@import "./modules/templated/Graphic/index.scss";
@import "./modules/templated/Heading/index.scss";
@import "./modules/templated/HTML/index.scss";
@import "./modules/templated/Hero/index.scss";
@import "./modules/templated/Image/index.scss";
@import "./modules/templated/List/index.scss";
@import "./modules/templated/Newsletter/index.scss";
@import "./modules/templated/Note/index.scss";
@import "./modules/templated/Quote/index.scss";
@import "./modules/templated/Related/index.scss";
@import "./modules/templated/StoryMeta/index.scss";
@import "./modules/templated/Subscribe/index.scss";
@import "./modules/templated/Timeline/index.scss";
@import "./modules/templated/Video/index.scss";

.inno {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-style-base;
  margin-bottom: 64px;
}

.inno-container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 16px;
}

.inno-uncontain {
  margin-left: -16px;
  margin-right: -16px;

  @include mq(650px + 32px) {
    margin-left: calc((100vw - 650px) / -2);
    margin-right: calc((100vw - 650px) / -2);
  }
}

.inno-content {
  max-width: 650px;
  margin: 0 auto;
}

.inno-uncontent {
  @include mq(650px + 32px) {
    margin-left: calc((100vw - 32px - 650px) / -2);
    margin-right: calc((100vw - 32px - 650px) / -2);
  }

  @include mq(1250px + 32px) {
    margin-left: -300px;
    margin-right: -300px;
  }
}

.inno-group {
  .inno-uncontain,
  .inno-uncontent {
    margin-left: 0px;
    margin-right: 0px;
  }
}

// For documentation code styling

