.inq-p-endmark {
  p:after {
    content: " ";
    display: inline-block;
    background: url("https://media.inquirer.com/storage/inquirer/projects/assets/i-circle_navy.png") center center no-repeat;
    background-size: contain;
    height: 1.1em;
    width: 1.1em;
    margin-left: 5px;
    vertical-align: text-bottom;
  }
}
